*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
.New img{
    position: fixed;
    height: 5vh;
    top: 0;
    left: 0;
    margin: 40px;
    margin-left: 45px;
  }
  
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #f2f2f2;
}
.form-box{
    position: relative;
    width: 400px;
    height: 530px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;

}
h2{
    font-size: 2em;
    color: black;;
} 
h3{
    margin-top: 3%;
    font-size: 1em;
}

 .inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid black; 
}
 .inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: black;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
} 
input:focus ~ label,
input:valid ~ label{
top: -5px; 
 } 
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: black;
}
.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    display: flex;
}

.forget a{
    color: rgb(10,103,195);
    text-decoration: none;
}
.forget a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    color: white;
    background: rgb(10,103,195);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register{
    text-transform: capitalize;
    font-size: .9em;
    color: black;
    text-align: center;
    margin: 20px 0 10px;
}
.register p a{
    text-decoration: none;
    color: rgb(10,103,195);
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}
.google-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: FEFFFE;
    color: #333;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  }

.google-btn{
    border-radius: 25px;
    border: #333;
    width: 90%;
    height: 25px;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600; 
}

.google-btn img {
    margin-right: 15px;
    width: 18px;
  }
  
  .google-btn:hover {
    border-color: #666;
  }
  
  .google-btn:focus {
    outline: none;
    border-color: #666;
    box-shadow: 0 0 3px 3px rgba(102, 102, 102, 0.2);
  }
  
  .google-btn:active {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  }


.or{
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 30px 0px; 
} 
     
.or span{ 
    background:#fff; 
    padding:0 10px;    
} 

footer {
    background-color: #f3f6f8;
    padding: 20px 0;
    font-size: 14px;
    text-align: center;
    color: #8d949e;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .footer-links li {
    margin-right: 15px;
  }
  
  .footer-links li:last-child {
    margin-right: 0;
  }
  
  .footer-links a {
    color: #8d949e;
    text-decoration: none;
  }

  

